@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-lt-pro-cufonfonts/AvenirLTProRoman.otf")
      format("opentype"),
    url("../assets/fonts/avenir-lt-pro-cufonfonts/AvenirLTProBook.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-lt-pro-cufonfonts/AvenirLTProMedium.otf")
    format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-lt-pro-cufonfonts/AvenirLTProHeavy.otf")
    format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --color-background: #f0f2f5;
  --color-text-main: #213f7d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: var(--color-text-main);
  background-color: var(--color-background);
}

.dashboard-layout {
  font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
