:root {
  --color-background: #f0f2f5;
  --color-text-main: #213f7d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: var(--color-text-main);
  background-color: var(--color-background);
}
