.app-shell {
  min-height: 100vh;
}

.dashboard-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
  background-color: #fbfbfb;
}

.dashboard-layout__sidebar {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.dashboard-layout__header {
  grid-row: 1;
  grid-column: 2;
}

.dashboard-layout__content {
  grid-row: 2;
  grid-column: 2;
  padding: 2.5rem 3rem;
}
